language: python
python:
    - "2.6"
# command to install dependencies
install:
      - "pip install -r requirements.txt --use-mirrors"
# command to run tests
script:
        - "pylint --version"
        - "PYTHONPATH=./src/XenCert pylint --rcfile=tests/pylintrc ./src/XenCert/*.py"
